{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="col-md-12 text-center font-weight-bold">
                SmartBeds - Sistema de monitorización de pacientes
            </h2>
        </div>

        {% if info.login %}
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Camas disponibles</h3>
                </div>
            </div>
            <div class="row">
                {% for b in beds %}
                    <div class="col-lg-6">
                        <a href="{{ url_for('cama', bedname=b.bed_name) }}" class="btn btn-lg btn-block btn-primary"
                           name="bed" data-bed="{{ b.bed_name }}"
                           data-namespace="{{ b.namespace }}">
                            {{ b.bed_name }} - Estado: <span>...</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Antes de comenzar, por favor, <a href="{{ url_for('login') }}">inicie sesión</a> </h3>
                </div>
            </div>
        {% endif %}


    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            beds = {};
            let bs = $("[name=bed]");
            for (let i = 0; i < bs.length; i++) {
                let b = $(bs[i]);
                beds[b.data("bed")] = b;
            }

            socket = io.connect('https://' + document.domain + ':' + location.port);

            socket.on("connect", function (data) {
                let b = Object.entries(beds);

                b.forEach(function (element) {
                    socket.emit('give_me_data', {
                        namespace: element[1].data('namespace'),
                        bedname: element[1].data("bed")
                    });
                });
            });
        });


        function draw(obj, state, proba = 0) {
            const crisis = "btn-danger";
            const sleep = "btn-success";
            const awake = "btn-light";
            const base = "btn-primary";
            obj.removeClass(crisis);
            obj.removeClass(sleep);
            obj.removeClass(awake);
            obj.removeClass(base);
            let span = obj.children().first();
            switch (state) {
                case 0:
                    span.text("🛌 Durmiendo - Probabilidad de crisis: " + proba);
                    obj.addClass(sleep);
                    break;
                case 1:
                    span.text("⚠ ¡Crisis!- Probabilidad de crisis: " + proba);
                    obj.addClass(crisis);
                    break;
                case 2:
                    span.text("🛏️ Despierto");
                    obj.addClass(awake);
                    break;
                default:
                    obj.addClass(base);
                    span.text("");
            }
        }
        {% for b in beds %}
            let nm_{{b.bed_name | b64encode}} = io('/{{ b.namespace }}');
            nm_{{b.bed_name | b64encode}}.on("package", function (data) {
                let result = data.result;
                draw(beds["{{ b.bed_name }}"], result[0], result[1].toFixed(2));
            });
        {% endfor %}
    </script>
{% endblock %}