{% extends "base.html" %}

{% block content %}
    <h3 class="text-center">Acerca de SmartBeds</h3>
    <div class="row">
        <p class="offset-md-4 col-md-4 text-justify"><strong>SmartBeds</strong> es un clasificador de crisis epilépticas
            sobre datos
            de presión provenientes de camas. Esta aplicación web permite gestionar las distintitas camas y usuarios así
            como monitorizar en tiempo real los datos de los pacientes.</p>
    </div>
    <div class="row">
        <p class="offset-md-4 col-md-4 text-justify">Este clasificador ha sido desarrollado por <a
                href="mailto:jgl0062@alu.ubu.es">José
            Luis Garrido Labrador</a> y <a href="mailto:aog0036@alu.ubu.es">Alicia Olivares Gil</a> como parte del
            proyecto <em>MINERÍA DE DATOS APLICADA A LA DETECCIÓN DE CRISIS EPILÉPTICAS</em> tutorizada por el <a
                    href="mailto:alvarag@ubu.es">Dr. Álvar Arnáiz González</a> y el <a href="mailto:jfdpastor@ubu.es">Dr.
                José Francisco Díez Pastor</a> del grupo
            <a href="http://admirable-ubu.es/">ADMIRABLE</a> del área de <a
                    href="https://www.ubu.es/departamento-de-ingenieria-civil/departamento-de-ingenieria-civil/area-de-lenguajes-y-sistemas-informaticos">Área
                de Lenguajes y Sistemas Informáticos</a> del departamento de <a
                    href="https://www.ubu.es/departamento-de-ingenieria-civil">Ingeniería Civil</a> de la <a
                    href="https://www.ubu.es/">Universidad de Burgos</a></p>
    </div>
    <h4 class="text-center">Código Fuente</h4>
    <div class="row">
        <p class="offset-md-4 col-md-4 text-center">
            Este proyecto está alojando en la plataforma <a
                href="https://github.com/jlgarridol/TFG-SmartBeds">GitHub</a> bajo la licencia <a
                href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>
        </p>
    </div>
    <h4 class="text-center">Licencias de código abierto</h4>
    <div class="row">
        <p class="offset-md-4 col-md-4 text-center">
            <a href="http://getbootstrap.com/"><strong>Bootstrap 4</strong> de Twitter - MIT</a>
        </p>
    </div>
    <div class="row">
        <p class="offset-md-4 col-md-4 text-center">
            <a href="https://bootswatch.com/"><strong>Tema Flaty</strong> de Bootswatch - MIT</a>
        </p>
    </div>
    <div class="row">
        <p class="offset-md-4 col-md-4 text-center">
            <a href="https://jquery.com/"><strong>jQuery</strong> de jQuery - MIT</a>
        </p>
    </div>
    <div class="row">
        <p class="offset-md-4 col-md-4 text-center">
            <a href="https://www.chartjs.org/"><strong>Chart.js</strong> de Chart.js - MIT</a>
        </p>
    </div>
    <div class="row">
        <p class="offset-md-4 col-md-4 text-center">
            <a href="https://socket.io/"><strong>Socket.io</strong> de Socket.IO - MIT</a>
        </p>
    </div>
{% endblock %}