{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-12 offset-lg-0">
                <h2>Administrar usuarios</h2>
                <table class="table text-center table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="2">
                            <button class="btn btn-info btn-lg btn-block" data-toggle="modal" data-whatever=""
                                    data-target="#usermodal">Añadir usuarios
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in users %}
                        <tr>
                            <td scope="row">{{ u }}</td>
                            <td>
                                <button class="btn btn-info" data-toggle="modal" data-whatever="{{ u }}"
                                        data-target="#usermodal">Modificar
                                </button>
                                <button class="btn btn-danger" onclick="del('{{ u }}')">Borrar</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {# Modal de añadir y modificar #}
    <div class="modal fade" tabindex="-1" role="dialog" id="usermodal" aria-labelledby="usermodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title">Añadir usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <strong class="container form-group text-danger row" id="errormsg"></strong>
                    <form>
                        <fieldset>
                            <legend>Nickname del usuario</legend>
                            <div class="form-group row">
                                <label for="nick" class="col-sm-4 col-form-label">Nickname</label>
                                <div class="col-sm-8">
                                    <input type="text" maxlength="50" style="width: 100%;" class="form-control" id="nick"
                                           placeholder="nickname">
                                    <div id="nickfb"></div>
                                </div>
                            </div>
                            <legend>Contraseña</legend>
                            <div class="form-group row">
                                <label for="pass" class="col-sm-4 col-form-label">Contraseña</label>
                                <div class="col-sm-8">
                                    <input type="password" style="width: 100%;" class="form-control" id="pass" placeholder="">
                                    <div id="passfb"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pass_re" class="col-sm-4 col-form-label">Repetir contraseña</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" style="width: 100%;" id="pass_re" placeholder="">
                                    <div id="pass_refb"></div>
                                </div>
                            </div>
                            <div class="form-group row d-none">
                                <input type="text" style="width: 100%;" id="mode" value="new">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="save_modal" type="button" class="btn btn-primary">Guardar cambios</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        //Almacenamiento de las camas
        modal_title = $("#modal_title");
        nick = $("#nick");
        pass = $("#pass");
        pass_re = $("#pass_re");
        mode = $("#mode");

        nickfb = $("#nickfb");
        passfb = $("#passfb");
        pass_refb = $("#pass_refb");

        let fields = [nick, pass, pass, pass_re];
        let fb = [nickfb, passfb, passfb, pass_refb];

        opt = "user";
    </script>
    <script>
        {% include "components/functions.js" %}
    </script>
    <script>


        $('#usermodal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let recipient = button.data('whatever');

            if (recipient === "") {//Nuevo usuario
                modal_title.text("Nuevo usuario");
                nick.val("");
                nick.prop('readonly', false);
                mode.val("new");

            } else {//Modificar usuario
                modal_title.text("Modificar contraseña de: " + recipient);
                nick.val(recipient);
                nick.prop('readonly', true);
                mode.val("update");
            }
        });

        function JSON_to_URLEncoded(element, key, list) {
            var list = list || [];
            if (typeof (element) == 'object') {
                for (let idx in element)
                    JSON_to_URLEncoded(element[idx], key ? key + '[' + idx + ']' : idx, list);
            } else {
                list.push(key + '=' + encodeURIComponent(element));
            }
            return list.join('&');
        }

        $("#save_modal").click(function () {
            let url = "";
            let o = {
                username: nick.val(),
                password: pass.val(),
                "password-re": pass_re.val()
            };


            if (mode.val() === "new") {
                url = "{{ url_for('user_add') }}";
            } else if (mode.val() === "update") {
                url = "{{ url_for('user_mod') }}";
            }
            $.ajax({
                url: url,
                dataType: 'text',
                type: 'put',
                contentType: 'application/x-www-form-urlencoded',
                data: JSON_to_URLEncoded(o),
                success:
                correcto,
                error:
                incorrecto
            })
        });

        function del(recipient) {

            let o = {username: recipient};

            $.ajax({
                url: "{{ url_for('user_del') }}",
                dataType: 'text',
                type: 'delete',
                contentType: 'application/x-www-form-urlencoded',
                data: JSON_to_URLEncoded(o),
                success:
                correcto,
                error:
                incorrecto
            })
        }
    </script>
{% endblock %}