numpy==1.16.1
tsfresh==0.11.2
pandas==0.23.4
Flask_SocketIO==3.3.2
seaborn==0.9.0
Flask==1.0.2
eventlet==0.24.1
matplotlib==3.0.2
python_sql==1.0.0
scipy==1.2.0
mysql_connector_repackaged==0.3.1
scikit_learn==0.21.1
gevent_socketio==0.3.6
sql==0.4.0
