{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2 class="offset-md-2">Iniciar sesión</h2>
        <div class="row">
            {% if page.bad %}
                <div class="col-md-8 offset-md-2">
                    <p id="BAD_CREDENTIAL" class="text-danger">Credenciales incorrectas</p>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <form class="offset-md-2 col-md-8" method="POST">
                <fieldset>
                    <div class="form-group">
                        <label for="user">Nombre de usuario</label>
                        <input type="text" class="form-control" id="user" placeholder="Nombre de usuario" name="user"
                               value="{{ page.nick }}">
                    </div>
                    <div class="form-group">
                        <label for="pass">Contraseña</label>
                        <input type="password" class="form-control" id="pass" placeholder="Contraseña" name="pass">
                    </div>
                    <button type="submit" id="submit" class="btn btn-primary">Entrar</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}