<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - SmartBeds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  </head>
  <body>
    {% include "components/nav.html" %}
    <section class="container-fluid">
      <h2>
        {% block header %}{% endblock %}
      </h2>
        {% block content %}{% endblock %}
    </section>
    {% include "components/footer.html" %}
    {% block js %}{% endblock %}
    
  </body>
</html>