<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="nav">
    <a class="navbar-brand" href="#">SmartBeds</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page.page == 'home' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('home') }}">Inicio</a>

            </li>
            {% if info.login and info.role == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link {% if page.page == 'admin_bed' %}active{% endif %}"
                       href="{{ url_for('camas') }}">
                        Administrar camas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.page == 'admin_users' %}active{% endif %}"
                       href="{{ url_for('usuarios') }}">
                        Administrar usuarios
                    </a>
                </li>
            {% endif %}
            <li class="nav-item {% if page.page == 'about' %}active{% endif %}">
                <a class="nav-link" href="#">Acerca de</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-right">
            {% if info.login %}

                <li class="nav-item">
                    <a class="nav-link {% if page.page == 'own_user' %}active{% endif %}" href="{{ url_for('home') }}">
                        {{ info.user }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Cerrar sesión</a>
                </li>
            {% else %}
                <li class="nav-item {% if page.page == 'login' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('login') }}">Iniciar sesión</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>